/*只显示下划线的input*/
.underline-input{
    outline: none;
    background: none;
    border-bottom: 1px solid #dbdbdb;
    /*清除多余的border*/
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.underline-input :focus{
    outline: none;
    background: none;
    border-bottom: 1px solid #db1200;
    /*清除多余的border*/
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

